div{
    width: 100%;
    max-width: 600px;
    height: 600px;
}
div img{
    width: 100%;
    max-width: 600px;
}

@media (max-width:576px){
    /*mobil*/
    .laptop, .tableta{
        display: none;
    }
    .mobil{
        background-image: url("../Images/Top-HD-sad-quotes-for-whatsapp-status-in-hindi-Pics-Images-Download-Free.gif");
        background-size: cover;
    }
}
@media (min-width:578px) and (max-width:768px){
    /*tableta*/
    .mobil, .laptop{
        display: none;
    }
    .tableta{
        background-image: url("../Images/Late-March-Bluebonnet-Sunset-331-7.jpg");
        background-size: cover;
    }
}
@media (min-width:769px){
    /*laptop*/
    .mobil, .tableta{
        display: none;
    }
    .laptop{
        background-image: url("../Images/fantasy-3077928__480.jpg");
        background-size: cover;
    }
}